@model IEnumerable<DataAccess.Entites.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
            <td>
                <img src="@Url.Action("ShowImage", new { id = item.RecipeId})" width="200" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.RecipeId }) |
                @Html.ActionLink("Details", "Details", new { id=item.RecipeId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.RecipeId })
            </td>
        </tr>
}
    </tbody>
</table>
